<ActionBar title="LIV Golf+">
  <ActionItem
    ios.position="left"
    ios.systemIcon="8"
    android.systemIcon="ic_menu_profile"
    android.position="actionBar"
  >
  </ActionItem>

  <!--<ActionItem position="left" icon="font://&#xf0a8;" class="fas"></ActionItem>-->
</ActionBar>

<GridLayout rows="10,60,10,60,10,60,*,60">
  <menusection [sectiondata]="section1data" row="1"></menusection>

  <menusection [sectiondata]="section2data" row="3"></menusection>

  <menusection [sectiondata]="section3data" row="5"></menusection>

  <StackLayout row="8" orientation="horizontal">
    <button textWrap="true" width="25%" textAlignment="center">
      <FormattedString>
        <span text="&#xf015;\n" fontFamily="FontAwesome"></span>
        <span text="Home"></span>
      </FormattedString>
    </button>
    <button textWrap="true" width="25%" textAlignment="center">
      <FormattedString>
        <span text="&#xf015;\n" fontFamily="FontAwesome"></span>
        <span text="Home"></span>
      </FormattedString>
    </button>
    <button textWrap="true" width="25%" textAlignment="center">
      <FormattedString>
        <span text="&#xf007;\n" fontFamily="FontAwesome"></span>
        <span text="Profile"></span>
      </FormattedString>
    </button>
  </StackLayout>
</GridLayout>
