<ActionBar title="LIV Golf+">
  <ActionItem
    ios.position="left"
    ios.systemIcon="10"
    android.systemIcon="ic_menu_profile"
    android.position="actionBar"
  >
  </ActionItem>
  <ActionItem
    text="delete"
    ios.systemIcon="12"
    ios.position="right"
    android.position="popup"
  >
  </ActionItem>

  <!--<ActionItem position="left" icon="font://&#xf0a8;" class="fas"></ActionItem>-->
</ActionBar>

<GridLayout rows="*,60">
  <ScrollView row="0" backgroundColor="black">
    <FlexboxLayout
      flexDirection="column"
      justifyContent="flex-start"
      class="p-0 m-0"
    >
      <MapView> </MapView>
    </FlexboxLayout>
  </ScrollView>
  <StackLayout row="1" orientation="horizontal">
    <button textWrap="true" width="25%" textAlignment="center">
      <FormattedString>
        <span text="&#xf015;\n" fontFamily="FontAwesome"></span>
        <span text="Home"></span>
      </FormattedString>
    </button>
    <button textWrap="true" width="25%" textAlignment="center">
      <FormattedString>
        <span text="&#xf015;\n" fontFamily="FontAwesome"></span>
        <span text="Home"></span>
      </FormattedString>
    </button>
    <button textWrap="true" width="25%" textAlignment="center">
      <FormattedString>
        <span text="&#xf007;\n" fontFamily="FontAwesome"></span>
        <span text="Profile"></span>
      </FormattedString>
    </button>
  </StackLayout>
</GridLayout>
