<ActionBar title="LIV Golf+">
  <ActionItem
    ios.position="left"
    ios.systemIcon="10"
    android.systemIcon="ic_menu_profile"
    android.position="actionBar"
  >
  </ActionItem>
  <ActionItem
    text="delete"
    ios.systemIcon="12"
    ios.position="right"
    android.position="popup"
  >
  </ActionItem>

  <!--<ActionItem position="left" icon="font://&#xf0a8;" class="fas"></ActionItem>-->
</ActionBar>

<GridLayout rows="*,60">
  <ScrollView row="0">
    <FlexboxLayout
      flexDirection="column"
      justifyContent="flex-start"
      backgroundColor="black"
    >
      <image
        [nsRouterLink]="['/event', 1]"
        src="https://s3.amazonaws.com/app.bevcarts.v2/liv_tucson.png"
        class="p-0 m-0"
        height="220"
        margin="0 0 0 0"
        padding="0 0 0 0"
      ></image>
      <label
        color="white"
        class="text-lg font-medium px-2 py-1 text-center text-blue-60 pb-10"
        >LIV Golf Tuscon | Round 1 | March 17, 2023</label
      >

      <label
        color="white"
        textWrap="true"
        class="text-md font-medium px-2 py-1 text-center text-blue-600 pb-10"
        >LIV Golf is coming to The Gallery Golf Club, March 17-19. Cam Smith,
        Dustin Johnson, Bryson DeChambeau, Phil Michelson Brooks Koepka + more.
        Big names. Big energy.</label
      >

      <label
        color="white"
        class="text-3xl font-medium px-2 py-1 text-center text-blue-600"
        >Login/Signup!</label
      >
    </FlexboxLayout>
  </ScrollView>
  <StackLayout row="1" orientation="horizontal">
    <button textWrap="true" width="25%" textAlignment="center">
      <FormattedString>
        <span text="&#xf015;\n" fontFamily="FontAwesome"></span>
        <span text="Home"></span>
      </FormattedString>
    </button>
    <button textWrap="true" width="25%" textAlignment="center">
      <FormattedString>
        <span text="&#xf015;\n" fontFamily="FontAwesome"></span>
        <span text="Home"></span>
      </FormattedString>
    </button>
    <button textWrap="true" width="25%" textAlignment="center">
      <FormattedString>
        <span text="&#xf007;\n" fontFamily="FontAwesome"></span>
        <span text="Profile"></span>
      </FormattedString>
    </button>
  </StackLayout>
</GridLayout>
