<StackLayout>
  <Label class="text-xl font-bold ml-3">{{ sectiondata.name }}</Label>
  <ScrollView orientation="horizontal" backgroundColor="black">
    <GridLayout
      columns="{{ sectiondata.cols }}"
      width="{{ sectiondata.colcount * 20 }}%"
    >
      <label
        *ngFor="let item of sectiondata.options; index as i"
        col="i"
        text="{{ item.name }}"
        height="100%"
        width="20%"
        backgroundColor="white"
        class="border-4 border-indigo-500 text-center"
      ></label>
    </GridLayout>
  </ScrollView>
</StackLayout>
