<StackLayout class="ml-0">
  <label
    class="text-2xl font-bold ml-5"
    text="{{ sectiondata.name }}"
    color="black"
  ></label>
  <ScrollView orientation="horizontal" class="ml-0">
    <GridLayout
      columns="{{ sectiondata.cols }}"
      width="{{ sectiondata.colcount * 40 }}%"
    >
      <StackLayout
        backgroundColor="white"
        orientation="vertical"
        *ngFor="let item of sectiondata.options; index as i"
        col="{{ i }}"
      >
        <image
          src="{{ item.image }}"
          height="80%"
          stretch="fill"
          class="m-1"
        ></image>
        <label
          text="{{ item.name }}"
          width="100%"
          class="text-center text-xl"
          color="black"
        ></label>
      </StackLayout>
    </GridLayout>
  </ScrollView>
</StackLayout>
