<ActionBar title="LIV Golf" backgroundColor="black" color="white">
  <ActionItem
    ios.position="left"
    ios.systemIcon="10"
    android.systemIcon="ic_menu_profile"
    android.position="actionBar"
  >
  </ActionItem>
  <ActionItem
    text="delete"
    ios.systemIcon="12"
    ios.position="right"
    android.position="popup"
  >
  </ActionItem>

  <!--<ActionItem position="left" icon="font://&#xf0a8;" class="fas"></ActionItem>-->
</ActionBar>

<GridLayout rows="*,60">
  <ScrollView row="0">
    <FlexboxLayout
      flexDirection="column"
      justifyContent="center"
      backgroundColor="black"
      class="p-0 m-0"
    >
      <image
        [nsRouterLink]="['/inactiveevent', 1]"
        src="https://s3.amazonaws.com/app.bevcarts.v2/liv_tucson.png"
        class="p-0 m-0"
        text="Welcome to LIV Golf"
        height="280"
        margin="0 0 0 0"
        padding="0 0 0 0"
        stretch="aspectFill"
      ></image>
      <image
        [nsRouterLink]="['/event', 2]"
        magin="0 0 0 0"
        padding="0 0 0 0"
        src="https://s3.amazonaws.com/app.bevcarts.v2/liv_mayakoba.png"
        class="p-0 m-0"
        text="Welcome to LIV Golf"
        height="400"
        stretch="aspectFill"
      ></image>
    </FlexboxLayout>
  </ScrollView>
  <StackLayout row="1" orientation="horizontal">
    <button textWrap="true" width="25%" textAlignment="center">
      <FormattedString>
        <span text="&#xf015;\n" fontFamily="FontAwesome"></span>
        <span text="Home"></span>
      </FormattedString>
    </button>
    <button textWrap="true" width="25%" textAlignment="center">
      <FormattedString>
        <span text="&#xf015;\n" fontFamily="FontAwesome"></span>
        <span text="Live"></span>
      </FormattedString>
    </button>
    <button textWrap="true" width="25%" textAlignment="center">
      <FormattedString>
        <span text="&#xf007;\n" fontFamily="FontAwesome"></span>
        <span text="Menu"></span>
      </FormattedString>
    </button>
  </StackLayout>
</GridLayout>
