<ActionBar title="LIV Golf+">
  <ActionItem
    ios.position="left"
    ios.systemIcon="10"
    android.systemIcon="ic_menu_profile"
    android.position="actionBar"
  >
  </ActionItem>
  <ActionItem
    text="delete"
    ios.systemIcon="12"
    ios.position="right"
    android.position="popup"
  >
  </ActionItem>

  <!--<ActionItem position="left" icon="font://&#xf0a8;" class="fas"></ActionItem>-->
</ActionBar>

<GridLayout rows="*,60" padding="0 0 0 0" margin="0 0 0 0">
  <ScrollView row="0" class="p-0 m-0" padding="0 0 0 0" margin="0 0 0 0">
    <FlexboxLayout
      flexDirection="column"
      justifyContent="center"
      backgroundColor="#3c495e"
      class="p-0 m-0"
    >
      <image
        [nsRouterLink]="['/event', 1]"
        src="https://s3.amazonaws.com/app.bevcarts.v2/liv_tucson.png"
        class="p-0 m-0"
        text="Welcome to LIV Golf"
        height="220"
        backgroundColor="#43b883"
        margin="0 0 0 0"
        padding="0 0 0 0"
      ></image>
      <image
        magin="0 0 0 0"
        padding="0 0 0 0"
        src="https://s3.amazonaws.com/app.bevcarts.v2/liv_mayakoba.png"
        class="p-0 m-0"
        text="Welcome to LIV Golf"
        height="400"
        backgroundColor="#43b883"
      ></image>
    </FlexboxLayout>
  </ScrollView>
  <StackLayout row="1" orientation="horizontal">
    <button textWrap="true" width="25%" textAlignment="center">
      <FormattedString>
        <span text="&#xf015;\n" fontFamily="FontAwesome"></span>
        <span text="Home"></span>
      </FormattedString>
    </button>
    <button textWrap="true" width="25%" textAlignment="center">
      <FormattedString>
        <span text="&#xf015;\n" fontFamily="FontAwesome"></span>
        <span text="Home"></span>
      </FormattedString>
    </button>
    <button textWrap="true" width="25%" textAlignment="center">
      <FormattedString>
        <span text="&#xf007;\n" fontFamily="FontAwesome"></span>
        <span text="Profile"></span>
      </FormattedString>
    </button>
  </StackLayout>
</GridLayout>
